body { padding: 20px; background-color: #fff; color: #333; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; }
article { margin: 20px auto; width: 480px; }

a { text-decoration: none; }
a:link { color: #3A94CD; }
a:visited { color: #774EDE; }
a:hover { color: #C100C3; text-decoration: underline; }
a:active { color: #C100C3; }

h1 { font-size: 380%; margin-left: -3px }
h1 .by { font-size: 40%; }
h2 { font-size: 150%; padding: 0; margin: 0 }

ul.inline li:first-child { padding-left: 0 }
ul li:before { content: "- "; }

p { margin: 0; }

section header { padding: 0; margin: 0 }
section header h3 { padding: 0; margin: 0 }